In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

#importing seaborn for statistical plots
import seaborn as sns

#Let us break the X and y dataframes into training set and test set. For this we will use
#Sklearn package's data splitting function which is based on random function

from sklearn.model_selection import train_test_split

import numpy as np

from sklearn.model_selection import StratifiedKFold
kfold = StratifiedKFold(n_splits=10)
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve

In [3]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

df_train.columns
df_train.info()
df_train.isnull().sum()
df_train.drop('Year Type',axis = 1,inplace=True)
df_train.drop('Sno',axis =1,inplace=True)
df_train.drop(df_train.columns[[0,4,6,8,10]], axis=1,inplace=True)
df_test.drop('Year Type',axis = 1,inplace=True)
df_test.drop('Sno',axis =1,inplace=True)
df_test.columns
df_test.drop(df_test.columns[[0,1,2,3,4,5,6,7,8,9,10,11]], axis=1,inplace=True)
df_test.columns
(df_train == 0).sum(axis=0)
df_train.corr()
df_train.columns
ls = ['Overtime','Other Salaries','Retirement','Health/Dental','Other Benefits','Total Benefits']
for j in ls:
    df_train[j].where(df_train[j] >=0,other=np.nan, inplace=True)
        
(df_train.loc[:,('Overtime','Other Salaries','Retirement','Health/Dental','Other Benefits','Total Benefits')]<0).sum(axis=0)
df_train.dropna(inplace=True)
df_train.isnull().sum()
df_train.drop(df_train.columns[[0,1,2,3,4,5,6]], axis=1,inplace=True)
df_train.columns
df_test.columns
df_train.corr()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149087 entries, 0 to 149086
Data columns (total 21 columns):
Sno                        149087 non-null int64
Year Type                  149087 non-null object
Year                       149087 non-null int64
Organization Group Code    149087 non-null int64
Organization Group         149087 non-null object
Department Code            149087 non-null object
Department                 149087 non-null object
Union Code                 149087 non-null int64
Union                      149087 non-null object
Job Family Code            149087 non-null object
Job Family                 149087 non-null object
Job Code                   149087 non-null object
Job                        149087 non-null object
Employee Identifier        149087 non-null int64
Overtime                   149087 non-null float64
Other Salaries             149087 non-null float64
Retirement                 149087 non-null float64
Health/Dental              149087 non-null float64
Other Benefits             149087 non-null float64
Total Benefits             149087 non-null float64
Class                      149087 non-null int64
dtypes: float64(6), int64(6), object(9)
memory usage: 23.9+ MB

,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Total Benefits,Class
Overtime,1.000000,0.368041,0.313931,0.308069,0.060498,0.285220,0.288237
Other Salaries,0.368041,1.000000,0.357653,0.223485,0.056922,0.284282,0.324970
Retirement,0.313931,0.357653,1.000000,0.786713,0.670874,0.962223,0.872534
Health/Dental,0.308069,0.223485,0.786713,1.000000,0.604511,0.888058,0.797306
Other Benefits,0.060498,0.056922,0.670874,0.604511,1.000000,0.796525,0.656445
Total Benefits,0.285220,0.284282,0.962223,0.888058,0.796525,1.000000,0.889072
Class,0.288237,0.324970,0.872534,0.797306,0.656445,0.889072,1.000000

In [8]:
from sklearn.model_selection import train_test_split
X = df_train.drop('Class',axis=1)
y = df_train['Class']

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [34]:
# invoking the decision tree classifier function. Using 'entropy' method of finding the split columns. Other option 
# could be gini index.  Restricting the depth of the tree to 5 (no particular reason for selecting this)

dt_model = GradientBoostingClassifier(criterion = 'gini' , max_depth = 5, random_state = 100)
                                  
#dt_model = DecisionTreeClassifier(criterion = 'entropy' )
dt_model.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=100, splitter='best')

In [35]:
dt_model.score(x_test , y_test)

0.935086360728595

In [36]:
y_predict = dt_model.predict(df_test)

In [37]:
len(y_predict)

63895

In [38]:
dtest = pd.read_csv('test.csv')
dfinal =dtest['Sno']

In [39]:
results = pd.DataFrame()
results['Sno']=dtest['Sno']
results['Class']=y_predict
results.to_csv("C:\\Users\\sande\\desktop\\results.csv",index=False)